block variables
include ../mixin/mixin

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        title= pageTitle

        link(rel="shortcut icon" href="" type="image/ico")

        link(rel="stylesheet" type="text/css" href="css/swiper.min.css")
        link(rel="stylesheet" type="text/css" href="css/OverlayScrollbars.min.css")
        link(rel="stylesheet" type="text/css" href="dist/style.css")

        script(type="text/javascript" src="js/jquery-3.3.1.min.js")
        script(type="text/javascript" src="js/swiper.min.js")
        script(type="text/javascript" src="js/jquery.overlayScrollbars.min.js")
        script(type="text/javascript" src="js/bodyScrollLock.js")
        script(type="text/javascript" src="dist/main.js")

    body
        div.wrap
            include ../modules/header

            div.all-content
                block content

            include ../modules/footer
            include ../modules/search