div.header-menu.mobile-menu
    div.close-mobile-menu.cross-icon
    ul
        li
            a(href='#') каталог
        li
            a(href="#") компания
        li
            a(href="#") новости
        li
            a(href="#") Поставщикам
        li
            a(href="#") Контакты
        li
            a(href="#") кабинет