div.popup.popup-added
    div.close-popup
    div.popup-content
        div.popup-added-title
            p Товар добавлен в корзину
        div.actions-added-cart
            a.actions-added-btn.actions-order(href='#') Оформить заказ
            button.actions-added-btn.actions-continue(type="button") Продолжить покупки