div.layout-bg
div.search-block
    div.container
        div.close-search-block.cross-icon
        form#search-form
            div.search-form-row
                input.search-form-input(type="text" placeholder="Поиск по сайту")
                span.search-form-icon
            div.search-form-result
                ul.search-find-list
                    li
                        a(href="#") Шерсть
                    li
                        a(href="#") Шелк
                    li
                        a(href="#") Шуба